

  .list {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    padding: 30px;
  }
  
  /* Add some padding inside the card container */
  .innerCard {
    padding: 2px 16px;
  }

  .addBtn {
    padding: 5px;
    width: 10%;
    background: #2f91cd;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  #lowPrio {
    color: green
  }

  #mediumPrio {
    color: gold
  }

  #highPrio {
    color: red
  }