

  .list {
    /*card*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    background-color: #54acfe53;
  }
  
  .innerCard {
    padding: 2px 16px;
  }

  .addBtn {
    padding: 5px;
    width: 10%;
    background: #2f91cd;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  #lowPrio {
    color: green
  }

  #mediumPrio {
    color: gold
  }

  #highPrio {
    color: red
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }