@media only screen and (max-width:480px) 
{ 
  .list {
    /*card*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    background-color: #54acfe53;
  }

  ul {
    list-style-type:none;
  }
  
  .innerCard {
    padding: 2px 16px;
  }

  .addBtn {
    padding: 5px;
    width: auto;
    background: #54acfe;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-style: none;
  }

  .closeTask{
    float:right;
    cursor: pointer;
    padding: 5px;
    width: 8%;
    background: #54acfe;
    text-align: center;
    border-radius: 0;
  }

  .closeList{
    cursor: pointer;
    float:right;
    padding: 5px;
    width: 8%;
    background: #54acfe;
    text-align: center;
    border-radius: 0;
  }

  .lowPrio {
    color: green
  }

  .mediumPrio {
    color: goldenrod;
  }

  .highPrio {
    color: red
  }

  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .newListCollapse {
    text-align: center;
    padding: 15px;
  }

  .collapsibleFormButton {
    padding: 5px;
    width: auto;
    background: #54acfe;
    text-align: center;
    border-style: none;
    cursor: pointer;
  }

  #newListDiv {
    padding: 20px;
    display: none;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #54acfe53;

  }

  .filterBar {
    text-align: center;
    padding: 15px;
  }

  .newTask {
    background-color: #54acfe53;
    padding: 5px;
    margin:8px;
  }

  .taskTitle{
    text-decoration: none;
  }
  

}