

  /* grid for cards*/
  .list {
    /*card*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    background-color: #54acfe53;
    margin: 10px;
  }

  .container {
    max-width: 480px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 900px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }

  /* styling for inside cards */
  ul.myUL {
    list-style-type:none;
  }
  
  .innerCard {
    padding: 2px 16px;
  }
  
  .newTask {
    background-color: #54acfe53;
    padding: 5px;
    margin:8px;
  }

  .taskTitle{
    text-decoration: none;
  }

  li{
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .listItem{
    display: inline-block; 
    vertical-align: top;
    width:90%;
  }


/* button and span styles */
  button:hover {
    background: #276daf;
  }

  .addBtn {
    padding: 5px;
    width: auto;
    background: #54acfe;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-style: none;
    margin: 10px;
  }

  .closeTask{
    float:right;
    cursor: pointer;
    padding: 3px;
    width: 8%;
    background: #54acfe;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  span:hover {
    background: #276daf;
  }

  .closeList{
    cursor: pointer;
    float:right;
    padding: 3px;
    width: 8%;
    background: #54acfe;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  /* tag styles */ 
  .lowPrio {
    color: green;
  }

  .mediumPrio {
    color: goldenrod;
  }

  .highPrio {
    color: red;
  }

  /* new list */
  .newListCollapse {
    text-align: center;
    padding: 15px;
  }

  .collapsibleFormButton {
    padding: 5px;
    width: auto;
    background: #54acfe;
    text-align: center;
    border-style: none;
    cursor: pointer;
  }

  #newListDiv {
    padding: 20px;
    display: none;
    overflow: hidden;
  }

  .filterBar {
    text-align: center;
    padding: 15px;
  }

  .pageTitle{
    padding: 10px;
    text-align: center;
  }
  
  .titleImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding: 5px;
  }
